extends ../partials/layout
block main 
    br
    h1.mb-4.text-center Recetas MCarmen
    .row.mb-3
        .col-md-6.mx-auto
            div.form-group
                label(for="selectCategorias") Filtrar por categoría:
                select#selectCategorias.form-select
                    option(value="" selected disabled) Cargando categorías...
        div#recetasHome.row.g-4

