<section>
  <form>
    <input type="text" placeholder="Filter by city" #filter />
    <button class="primary" type="button" 
       (click)="filterResults(filter.value)">Search</button>
  </form>
</section>

<section class="results">
  @for (housingLocation of filteredLocationList; track $index) {
  <app-housing-location [housingLocation]="housingLocation" />
  }
</section>

<section class="results">
  @for (housingLocation of housingLocationList; track $index) {
      <app-housing-location [housingLocation]="housingLocation" />
  }
</section>


<!-- Lo que va entre [] es la propiedad del componente hijo
Lo que va entre comillas es una variable del componente padre home
Angular mantiene el enlace de forma dinámica
Si quitásemos los corchetes, Angular enviaría un string, no el objeto. -->
