:host {
    color: rgb(0, 187, 255);
    font-family: 'Courier New', Courier, monospace;
  }
span{
  color: green;
}
p{
  color: blueviolet;

}
.caja-hover {
  padding: 20px;
  border: 2px solid green;
}



